<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Experience</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/Header.css" />
    <link rel="stylesheet" type="text/css" href="css/Header.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/Experiences.css">
    <link rel="stylesheet" type="text/css" href="css/Experiences.css">
    <link rel="icon" href="../../public/assets/NelsonMosquera.png" />
    <script src="https://kit.fontawesome.com/2e96388b4b.js" crossorigin="anonymous"></script>
</head>

<body class="body-experience">
    <nav>
        <div class="hamburger">
            <div class="line one"></div>
            <div class="line two"></div>
            <div class="line three"></div>
        </div>
        <ul class="nav-links">
            <li><a class="nav-link" href="#">Home</a></li>
            <li><a class="nav-link" href="#">biography</a></li>
            <li><a class="nav-link active" href="#">Experience</a></li>
            <li><a class="nav-link" href="#">About</a></li>
            <li>
                <div>
                    <a href="https://github.com/monotera"><i class="fab fa-github social nav-link"></i></a>
                    <a href="https://www.instagram.com/monotera_/"><i class="fab fa-instagram social nav-link"></i></a>
                    <a href="https://www.linkedin.com/in/nelson-mosquera-2414aa170"><i
                            class="fab fa-linkedin social nav-link"></i></a>
                </div>
            </li>
        </ul>
    </nav>
    <main class="experience-main-wrapper">
        <h1 class="experience-title border-gradient-title">Laboral experience</h1>
        <nav class="experience-nav">
            <ol class="experience-order-list">
                <li><a class="subLink active" href="#studies">Studies</a></li>
                <li><a class="subLink" href="#achivments">Achivments</a></li>
                <li><a class="subLink" href="#projects">Projects</a></li>

            </ol>
        </nav>
        <section id="studies" class="sub-section one">
            <h2 class="experience-subtitle border-gradient">My studies</h2>
            <div class="section-info-wrapper">
                <ul class="style-list">
                    <li>
                        <p class="interest-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, autem sunt. Nisi, molestiae
                            sapiente dignissimos autem amet officia possimus tenetur voluptas ab distinctio, quia at
                            quas
                            explicabo dolor porro totam.
                        </p>

                    </li>
                    <li>
                        <p class="interest-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio tempora minus et alias
                            assumenda
                            fugiat quasi distinctio beatae! Nesciunt, ut impedit nihil tempora iusto doloremque aut
                            optio
                            alias dolor explicabo.
                        </p>
                    </li>
                </ul>
                <img src="../../public/assets/studies.svg" alt="svg of a man drawing a circle" />
            </div>
        </section>
        <section id="achivments" class="sub-section two">
            <h2 class="experience-subtitle border-gradient">Achivments</h2>
            <div class="section-info-wrapper reverse">
                <img src="../../public/assets/Achivments.svg" alt="svg of a man drawing a circle" />
                <ul class="style-list">
                    <li>
                        <p class="interest-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, autem sunt. Nisi, molestiae
                            sapiente dignissimos autem amet officia possimus tenetur voluptas ab distinctio, quia at
                            quas
                            explicabo dolor porro totam.
                        </p>

                    </li>
                    <li>
                        <p class="interest-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio tempora minus et alias
                            assumenda
                            fugiat quasi distinctio beatae! Nesciunt, ut impedit nihil tempora iusto doloremque aut
                            optio
                            alias dolor explicabo.
                        </p>

                    </li>
                </ul>
            </div>
        </section>
        <section id="projects" class="sub-section three">
            <h2 class="experience-subtitle border-gradient">Courses</h2>
            <div class="section-info-wrapper">
                <ul class="style-list">
                    <li>
                        <p class="interest-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, autem sunt. Nisi, molestiae
                            sapiente dignissimos autem amet officia possimus tenetur voluptas ab distinctio, quia at
                            quas
                            explicabo dolor porro totam.
                        </p>

                    </li>
                    <li>
                        <p class="interest-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio tempora minus et alias
                            assumenda
                            fugiat quasi distinctio beatae! Nesciunt, ut impedit nihil tempora iusto doloremque aut
                            optio
                            alias dolor explicabo.
                        </p>

                    </li>
                </ul>
                <img src="../../public/assets/Projects.svg" alt="svg of a man drawing a circle" />
            </div>
        </section>
    </main>
    <script src="../../public/js/header.js"></script>
    <script src="js/header.js"></script>
</body>

</html>