<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nelson Mosquera</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/Home.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/Header.css" />
    <link rel="stylesheet" type="text/css" href="css/Header.css" />
    <link rel="stylesheet" type="text/css" href="css/Home.css" />
    <link rel="icon" href="../../public/assets/NelsonMosquera.png" />
  </head>
  <body class="body-home">
    <header class="header-home">
      <h1 class="header-title-home">Welcome</h1>
      <nav>
        <ul class="nav-ul-home">
          <li><a class="link active" href="#">Home</a></li>
          <li><a class="link" href="#">Biography</a></li>
          <li><a class="link" href="#">Experience</a></li>
          <li><a class="link" href="#">About</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-wrapper">
      <div class="r">
        <h2 class="title">
          Nelson Alejandro Mosquera <br />
          Barrera
        </h2>
        <div class="subtitle-wrapper">
          <div class="point"></div>
          <h3 class="subtitle">Software Developer</h3>
          <div class="point"></div>
        </div>
        <p class="description">
          Welcome to my personal website! <br />With this page my goal is to
          show you a bit of my life and my personal projects. If you want to
          know more about me, click the button!
        </p>
        <button class="home-btn">About Me!</button>
      </div>
      <div class="l">
        <img src="../../public/assets/NelsonMosquera.png" alt="" />
        <div class="circle"></div>
        <div class="circle2"></div>
      </div>
    </main>
  </body>
</html>
