<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nelson Mosquera</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/Header.css" />
    <link rel="stylesheet" type="text/css" href="css/Header.css" />
    <link rel="icon" href="../../public/assets/NelsonMosquera.png" />
  </head>
  <body class="body-home">
    <nav>
      <div class="hamburger">
        <div class="line one"></div>
        <div class="line two"></div>
        <div class="line three"></div>
      </div>
      <ul class="nav-links">
        <li><a class="nav-link" href="#">Home</a></li>
        <li><a class="nav-link" href="#">biography</a></li>
        <li><a class="nav-link" href="#">Experience</a></li>
        <li><a class="nav-link active" href="#">About</a></li>
      </ul>
    </nav>

    <script src="../../public/js/header.js"></script>
    <script src="js/header.js"></script>
  </body>
</html>
