/*Fonts */
@font-face {
    font-family: "fontPoppinsMed";
    src: url("./fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "fontPoppinsRegular";
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "fontLogo";
    src: url("./fonts/Pattaya-Regular.ttf");
    font-weight: regular;
}

@font-face {
    font-family: fontNav;
    src: url("./fonts/helveticaneue_medium-webfont.woff2");
}

/*Global Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h3 {
    font-size: 3rem;
    font-family: fontPoppinsRegular, sans-serif;
}

body {
    font-family: fontPoppinsMed, sans-serif;
}

h1 {
    font-size: 2.5rem;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h4,
h5 {
    font-size: 2.8rem;
}

a {
    color: white;
    text-decoration: none;
}

button {
    background-color: #4c6e97;
    border: none;
    color: white;
    cursor: pointer;
    font: 1.8rem;
    padding: 2rem 6rem;
    transition: background 0.4s ease-in-out;
}

button:hover {
    background-color: #27394e;
}

/* Nav section with hero*/

.header-wrapper {
    background-color: #131c27;
    color: white;
}

.header-wrapper-nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: fontNav, sans-serif;
    margin: auto;
    min-height: 10vh;
    padding: 2rem;
    width: 90%;
}

.header-wrapper-ul {
    align-items: center;
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    list-style: none;
}

.logo {
    flex: 2 1 40rem;
    font-family: fontLogo, sans-serif;
}

.hero {
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("./img/landing-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    text-align: center;
}

.hero h3 {
    padding: 5rem;
}

/* Location section*/

.location-wrapper {
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('./img/new-york-page.png');
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 101vh;
    overflow: hidden;
    position: relative;
}

.location-wrapper-header {
    margin: auto;
    width: 90%;
}

.location-wrapper-header h2 {
    padding: 1rem 0rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
}

.location-wrapper-header h3 {
    padding: 4rem 0rem;
    background: linear-gradient(#131c27, #663b34);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cloud {
    position: absolute;
    top: 0;
    right: 0;
}

.moving-cloud-1 {
    animation: cloudAnimation 6s infinite alternate ease-in-out;
}

.moving-cloud-2 {
    animation: cloudAnimation2 5s infinite alternate ease-in-out;
    opacity: 0.5;
    top: 20%;
    z-index: -1;
}


/*Benefits section*/

.benefits-wrapper-header {
    background: #343c44;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh;
    padding: 3rem;
    text-align: center;
}

.benefits-wrapper-header h3 {
    padding: 1rem;
}

.benefits-wrapper-card h4,
.benefits-wrapper-card p {
    padding: 2rem;
}

.benefits-wrapper-card {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    flex: 1 1 25rem;
    margin: 2rem 5rem;
    min-height: 40vh;
    text-align: center;
}

.benefits-wrapper-cards {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    min-height: 71vh;
    width: 90%;
}

.benefits-wrapper-cards img {
    max-width: 15%;
    margin: 1rem;
}

.benefits-wrapper-cardIcon {
    background-color: #27394e;
}

/*Contact Section*/
.contact-wrapper {
    min-height: 102vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("./img/contact-mountain.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact-wrapper-form {
    background-color: rgba(19, 20, 39, 0.8);
    border-radius: 20px;
    color: whitesmoke;
    width: 60%;
}

.contact-wrapper-form-header {
    text-align: center;
    padding: 4rem;
}

.contact-wrapper-form-name,
.contact-wrapper-form-email {
    padding: 3rem;
    text-align: center;
}

.contact-wrapper-form label {
    margin: 0rem 3rem;
}

.contact-wrapper-form button {
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contact-wrapper-form input {
    padding: 1rem 3rem;
}


/*Footer section*/
.footer-wrapper {
    color: white;
    background: rgba(19, 20, 39, 1);
}

.footer-wrapper-main {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    min-height: 10vh;
    padding: 2rem;
    width: 90%;
}

.footer-wrapper ul {
    align-items: center;
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-between;
    list-style: none;
}

.footer-wrapper h5 {
    flex: 1 1 40rem;
}


@keyframes cloudAnimation {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(0%, 0%);
    }
}
@keyframes cloudAnimation2 {
    from {
        transform: translate(13%, -20%);
    }

    to {
        transform: translate(0%, -10%);
    }
}


/*Media Query*/
@media screen and (max-width: 932px) {
    .header-wrapper-nav {
        text-align: center;
    }

    .logo {
        padding: 1rem;
    }
    .footer-wrapper {
        text-align: center;
    }

    .footer-wrapper h5 {
        padding-bottom: 3rem;
    }

}

@media screen and (max-width: 672px) {
    html {
        font-size: 45%;
    }
    .contact-wrapper-form {
        width: 90%;
    }
}

@media screen and (max-width: 1418px) {
    .cloud {
        display: none;
    }

    .location-wrapper-header h3 {
        background: rgba(19, 28, 39, 0.9);
        text-align: center;
        -webkit-text-fill-color: white;
    }

    .location-wrapper-header h2 {
        text-align: center;
    }
}