<h1>Arma tu sandwich</h1>
<div class="main-wrapper">
    <select id="firstSelect" name="miselect" [(ngModel)]="seleccionados" multiple>
      <option [value]="item" *ngFor="let item of lista">{{item}}</option>
    </select>
    <div class="btns">
        <button id="addBtn" (click) = "addElement()" id="addBtn">Agregar</button>
        <button id="removeBtn" (click) = "removeElement()" id="removeBtn">Remover</button>
    </div>
    <select id="SecondSelect" name="miselect" [(ngModel)]="seleccionados2" multiple>
      <option [value]="item" *ngFor="let item of lista2">{{item}}</option>
    </select> 
</div>