<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="monotera" />
    <meta name="keywords" content="Biography, Nelson, Mosquera, personal webpage" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache" , mustrevalidate />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Last-Modified" content="0">
    <meta name="description" content="Bio page of Nelson Mosquera website">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biography</title>
    <link rel="stylesheet" type="text/css" href="../css/Header.css" />
    <link rel="stylesheet" type="text/css" href="../css/Bio.css" />
    <link rel="icon" href="../assets/NelsonMosquera.png" />
    <script src="https://kit.fontawesome.com/2e96388b4b.js" crossorigin="anonymous"></script>
</head>

<body class="body-bio">
    <nav>
        <div class="hamburger">
            <div class="line one"></div>
            <div class="line two"></div>
            <div class="line three"></div>
        </div>
        <ul class="nav-links">
            <li><a class="nav-link" href="Home.html">Home</a></li>
            <li><a class="nav-link active" href="Bio.html">biography</a></li>
            <li><a class="nav-link" href="Experience.html">Experience</a></li>
            <li><a class="nav-link" href="Interests.html">About</a></li>
            <li>
                <div>
                    <a href="https://github.com/monotera"><i class="fab fa-github social nav-link"></i></a>
                    <a href="https://www.instagram.com/monotera_/"><i class="fab fa-instagram social nav-link"></i></a>
                    <a href="https://www.linkedin.com/in/nelson-mosquera-2414aa170"><i
                            class="fab fa-linkedin social nav-link"></i></a>
                </div>
            </li>
        </ul>
    </nav>
    <main class="bio-main-wrapper">
        <h1 class="bio-title border-gradient-title">Biography</h1>
        <table class="bio-table">
            <tr class="row">
                <th class="col-title ">Column A</th>
                <th class="col-title ">Column B</th>
                <th class="col-title ">Column C</th>
            </tr>
            <tr class="row">
                <td class="col-data ">Eius iusto dolor deleniti dolorum facere totam earum necessitatibus</td>
                <td class="col-data ">Data 1</td>
                <td class="col-data ">Data 1.2</td>
            </tr>
            <tr class="row">
                <td class="col-data ">Dignissimos blanditiis nam cumque consequuntur officia voluptates</td>
                <td class="col-data ">Data 2</td>
                <td class="col-data ">Data 2.2</td>
            </tr>
            <tr class="row">
                <td class="col-data ">Dignissimos blanditiis nam cumque consequuntur officia voluptates</td>
                <td class="col-data ">Data 3</td>
                <td class="col-data ">Data 3.2</td>
            </tr>
            <tr class="row">
                <td class="col-data ">Dignissimos blanditiis nam cumque consequuntur officia voluptates</td>
                <td class="col-data ">Data 4</td>
                <td class="col-data ">Data 4.2</td>
            </tr>
            <tr class="row">
                <td class="col-data ">Dignissimos blanditiis nam cumque consequuntur officia voluptates</td>
                <td class="col-data ">Data 5</td>
                <td class="col-data ">Data 5.2</td>
            </tr>
            <tr class="row">
                <td class="col-data ">Dignissimos blanditiis nam cumque consequuntur officia voluptates</td>
                <td class="col-data ">Data 6</td>
                <td class="col-data ">Data 6.2</td>
            </tr>
            <tr class="row">
                <td class="col-data ">Dignissimos blanditiis nam cumque consequuntur officia voluptates</td>
                <td class="col-data ">Data 7</td>
                <td class="col-data ">Data 7.2</td>
            </tr>
            <tr class="row">
                <td class="col-data ">Dignissimos blanditiis nam cumque consequuntur officia voluptates</td>
                <td class="col-data ">Data 8</td>
                <td class="col-data ">Data 8.2</td>
            </tr>
        </table>
    </main>
    <script src="../js/header.js"></script>
    <script src="../js/Bio.js"></script>
</body>

</html>