<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="author" content="monotera" />
  <meta name="keywords" content="Home, Nelson, Mosquera, personal webpage" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="Cache-Control" content="no-cache" , mustrevalidate />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Last-Modified" content="0">
  <meta name="description" content="Home page of Nelson Mosquera website">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nelson Mosquera</title>
  <link rel="stylesheet" type="text/css" href="../css/Home.css" />
  <link rel="stylesheet" type="text/css" href="../css/Header.css" />
  <link rel="icon" href="../assets/nelsonMosquera.png" />
  <script src="https://kit.fontawesome.com/2e96388b4b.js" crossorigin="anonymous"></script>
</head>

<body class="body-home">
  <nav class="header-nav">
    <div class="hamburger">
      <div class="line one"></div>
      <div class="line two"></div>
      <div class="line three"></div>
    </div>
    <ul class="nav-links">
      <li><a class="nav-link active" href="Home.html">Home</a></li>
      <li><a class="nav-link" href="Bio.html">biography</a></li>
      <li><a class="nav-link" href="Experience.html">Experience</a></li>
      <li><a class="nav-link" href="Interests.html">About</a></li>
      <li>
        <div>
          <a href="https://github.com/monotera"><i class="fab fa-github social nav-link"></i></a>
          <a href="https://www.instagram.com/monotera_/"><i class="fab fa-instagram  social nav-link"></i></a>
          <a href="https://www.linkedin.com/in/nelson-mosquera-2414aa170"><i
              class="fab fa-linkedin social nav-link"></i></a>
        </div>
      </li>
    </ul>
  </nav>
  <main class="main-wrapper">
    <section class="right-section">
      <h2 class="title">
        Nelson Alejandro Mosquera <span class="break-line">Barrera</span>
      </h2>
      <div class="subtitle-wrapper">
        <div class="point"></div>
        <h3 class="subtitle">Software Developer</h3>
        <div class="point"></div>
      </div>
      <p class="description">
        Welcome to my personal website! This page my goal is to
        show you a bit of my life and my personal projects. If you want to
        know more about me, click the button!
      </p>
      <button class="home-btn"><a href="Interests.html">About me!</a></button>
    </section>
    <section class="left-section">
      <img class="profile-picture" src="../assets/NelsonMosquera.png" alt="Nelson Mosquera's profile image" />
      <div class="circle"></div>
      <div class="circle2"></div>
    </section>
  </main>
  <script src="../js/header.js"></script>
</body>

</html>