<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Interests</title>
  <link rel="stylesheet" type="text/css" href="../css/Header.css" />
  <link rel="stylesheet" type="text/css" href="../css/Interest.css" />
  <link rel="icon" href="../assets/NelsonMosquera.png" />
  <script src="https://kit.fontawesome.com/2e96388b4b.js" crossorigin="anonymous"></script>
</head>

<body class="body-interests">
  <nav>
    <div class="hamburger">
      <div class="line one"></div>
      <div class="line two"></div>
      <div class="line three"></div>
    </div>
    <ul class="nav-links">
      <li><a class="nav-link" href="Home.html">Home</a></li>
      <li><a class="nav-link" href="Bio.html">biography</a></li>
      <li><a class="nav-link" href="Experience.html">Experience</a></li>
      <li><a class="nav-link active" href="Interests.html">About</a></li>
      <li>
        <div>
          <a href="https://github.com/monotera"><i class="fab fa-github social nav-link"></i></a>
          <a href="https://www.instagram.com/monotera_/"><i class="fab fa-instagram  social nav-link"></i></a>
          <a href="https://www.linkedin.com/in/nelson-mosquera-2414aa170"><i
              class="fab fa-linkedin social nav-link"></i></a>
        </div>
      </li>
    </ul>
  </nav>
  <main class="interests-main background">
    <h1 class="interests-title border-gradient-title ">My personal interests</h1>
    <section class="favorite-music">
      <h2 class="interests-subTittle border-gradient">Listening music</h2>
      <p class="interests-description">I really enjoy listening to music. I listen to it all day, it helps me relax
        and
        focus. Here are some songs
        that im listening at the moment.
      </p>
      <ul class="music-list">
        <li>
          <iframe class="video" src="https://www.youtube.com/embed/NSJPGo71Uw8" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </li>
        <li>
          <iframe src="https://www.youtube.com/embed/yAv5pLO37mE" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </li>
        <li>
          <iframe src="https://www.youtube.com/embed/Tx9zMFodNtA" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </li>
        <li>
          <iframe src="https://www.youtube.com/embed/b33VWxdHrNk" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </li>
      </ul>
    </section>
    <section class="gamming">
      <h2 class="interests-subTittle border-gradient">Gamming</h2>
      <p class="interests-description ">
        One of my main hobbies is gamming, after a long day I like to just
        lie down and play for a while. This are my favorite games! If you
        wanna know more about them, just click the image
      </p>
      <ul class="music-list">
        <li class="game">
          <a href="https://es.wikipedia.org/wiki/BioShock" target="_blank">
            <img class="thumbnail"
              src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2016/09/bioshock-hd-cabecera.jpg"
              alt="video game BioShock" /></a>
          <h4 class="game-title">Bioshock</h4>
        </li>
        <li class="game">
          <a href="https://es.wikipedia.org/wiki/Destiny_2" target="_blank">
            <img class="thumbnail" src="https://images2.alphacoders.com/542/thumb-1920-542231.jpg"
              alt="video game destiny_2" />
          </a>
          <h4 class="game-title">Destiny 2</h4>
        </li>
        <li class="game">
          <a href="https://en.wikipedia.org/wiki/Superliminal" target="_blank">
            <img class="thumbnail"
              src="https://i2.wp.com/multitap.com.ar/wp-content/uploads/2020/11/superliminal-switch-hero.jpg?fit=1920%2C1080&ssl=1"
              alt="video game Superliminal" />
          </a>
          <h4 class="game-title">Superliminal</h4>
        </li>
        <li class="game">
          <a href="https://es.wikipedia.org/wiki/The_Legend_of_Zelda:_Breath_of_the_Wild" target="_blank">
            <img class="thumbnail"
              src="https://www.nintendo.com//content/dam/noa/es_LA/games/switch/t/the-legend-of-zelda-breath-of-the-wild-switch/the-legend-of-zelda-breath-of-the-wild-switch-hero.jpg"
              alt="video game zelda">
          </a>
          <h4 class="game-title">Zelda</h4>
        </li>
      </ul>
    </section>
    <section class="chat">
      <h2 class="interests-subTittle border-gradient">Let's chat!</h2>
      <p class="interests-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil obcaecati
        exercitationem, fuga autem
        voluptatum, veritatis illo enim id a quam similique dolores ducimus molestiae esse omnis sequi itaque cupiditate
        praesentium.</p>
      <form class="chat-form" action="">
        <label class="chat-label" for=" GET-name">Name:</label>
        <input class="chat-margin chat-input" id="GET-name" type="text" name="name">
        <span id="error-name"></span>
        <label class="chat-label" for="GET-msg">Message:</label>
        <textarea class="chat-margin chat-input" name="msg" id="GET-msg" cols="30" rows="10"></textarea>
        <span id="error-msg"></span>
        <div class="btn-wrapper">
          <input class="clear-btn chat-margin" id="clear-btn" type="button" value="Clear">
          <input class="send-btn chat-margin" id="send-btn" type="button" value="Send">
        </div>
      </form>
    </section>
    <section class="msgs" id="msgs">
      <h2 class="interests-subTittle border-gradient">Messages</h2>
    </section>
    
  </main>
  <script src="../js/header.js"></script>
  <script src="../js/Chat.js"></script>
</body>

</html>