<!DOCTYPE html>
<html>
  <head>
    <title>Add Product</title>
  </head>
  <body>
    <h2>Enter Product Details</h2>
    <form action="/viewproduct" method="GET">
      <p>
        <label for="ProductId">Product Id : </label>
        <input type="text" name="ProductId" /> <br />
        <input type="submit" />
      </p>
    </form>
  </body>
</html>